html, body {
  font-family: $body-text;
  font-size: 62.5%;

  * {
    box-sizing: border-box;
  }
}
body {
  background-color: $content-bg;
  color: $dark-base-color;
  font: $body-size $body-text;
  text-rendering: optimizeLegibility;

  &.invert {
    background-color: $content-bg-invert;
  }
}
@include device-md {
  body {
    font-size: 16px;
  }
}
@include device-lg {
  body {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
p {
  line-height: 150%;
  margin: 0 0 $spacing-lg;

  &:last-child {
    margin-bottom: 0;
  }
}
a {
  position: relative;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  transition: all 0.25s;

  &:after {
    background-color: $link-color;
    content: "";
    width: 100%;
    height: 0.115em;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    transition: background-color 0.25s, transform 0.25s;
    transform: translateY(-0.115em);
  }
  &:hover {
    color: $link-hover-color;

    &:after {
      background-color: $link-hover-color;
      transform: translateY(0.115em);
    }
  }
  &:active,
  &:active:hover {
    color: $link-active-color;

    &:after {
      background-color: $link-active-color;
      transform: translateY(0);
    }
  }
}

dl {
  dt {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  dd {
    color: $dark-secondary-color;
    margin-bottom: $spacing-lg;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.invert {
  color: $light-base-color;

  a {
    &:after {
      background-color: lighten($link-color, 10);
    }
    &:hover {
      color: lighten($link-hover-color, 20);

      &:after {
        background-color: lighten($link-hover-color, 20);
      }
    }
    &:active,
    &:active:hover {
      color: lighten($link-active-color, 20);

      &:after {
        background-color: lighten($link-active-color, 20);
      }
    }
  }
}
