.cards {
  padding: $spacing-sm 0;
}
.card {
  background-color: $dark-divider-color;
  box-shadow: 0 1px 2px $dark-divider-color;
  position: relative;
  transition-property: box-shadow, transform;
  transition-duration: $transition-duration;

  &:hover {
    box-shadow: 0 10px 30px $dark-secondary-color;
    transform: translateY(-5px);
  }
}
.card-thumbnail {
  overflow: hidden;
}
.card-link {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &,
  &:hover,
  &:active,
  &:active:hover {
    &:after {
      display: none;
    }
  }
  &:hover {
    background-color: transparentize($link-hover-color, 0.1);

    .card-details {
      opacity: 1;
      transform: scale(1);
    }
  }
  &:active,
  &:active:hover {
    background-color: transparentize($link-active-color, 0.05);

    .card-details {
      opacity: 0.5;
      transform: scale(0.95);
    }
  }
}
.card-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: scale(1.2);
  transition: all $transition-duration;
}
.card-details-client {
  margin-bottom: 0 !important;
}
