.project-cover {
  background-color: $dark-divider-color;
  margin: ($spacing-lg * 2) 0;
  overflow: hidden;
}
.project-details {
  margin-bottom: ($spacing-lg * 3);
}
.project-features {
  margin-bottom: ($spacing-lg * 2);
}
