.projects-grid {
  margin-bottom: $spacing-xl;

  &:last-child {
    margin-bottom: 0;
  }
}

.project-cover {
  background-color: $dark-divider-color;
  margin: $spacing-xl 0;
  overflow: hidden;
}
.project-details {
  margin-bottom: $spacing-xl;

  & > .grid {
    padding-bottom: $spacing-lg;
  }
}
.project-features {
  margin-bottom: $spacing-xl;
}
