#site-header {
  background-color: $header-bg;
  padding: $spacing-lg;
}

#site-header-content {
  // Nothing
}

#header-logo a {
  height: 80px;
  width: 80px;
  margin: 0 auto;

  &:active,
  &:active:hover {
    transform: scale(0.9);
  }
}

#header-nav {
  font-family: $title-text;
  max-width: 80%;
  margin: 0 auto;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    li {
      color: $dark-primary-color;
      margin: $spacing-lg 0;

      a {
        &:after {
          background-color: transparent;
        }
        &.selected {
          color: $dark-base-color;
          font-weight: 600;

          &:after {
            background-color: $link-color;
          }
        }
        &:hover,
        &.selected:hover {
          color: $link-hover-color;

          &:after {
            background-color: $link-hover-color;
          }
        }
        &:active,
        &:active:hover {
          color: $link-active-color;

          &:after {
            background-color: $link-active-color;
          }
        }
      }
    }
  }
}

#header-social {
  display: none;

  li {
    flex: 1;

    a {
      padding: $spacing-sm;

      &:active,
      &:active:hover {
        transform: scale(0.9);
      }
    }
  }
}

@include device-sm {
  #site-header {
    padding: $spacing-sm $spacing-lg;
  }
  #header-logo {
    a {
      height: 60px;
      width: 60px;
    }
  }
}

@include device-md {
  #header-logo {
    margin-bottom: $spacing-sm;
  }
  #header-nav {
    max-width: 60%;
  }
}

@include device-lg {
  #site-header,
  #site-header-content {
    height: 100vh;
  }

  #site-header {
    overflow: auto;
    width: $header-width-lg;
    padding: 0;
  }

  #site-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 375px;
  }

  #header-logo {
    margin: ($spacing-lg * 3) $spacing-xl;
  }

  #header-nav {
    margin: -($spacing-lg) $spacing-xl 0;

    ul {
      display: block;

      li {
        margin: 0 0 $spacing-lg;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  #header-social {
    display: flex;
    margin: ($spacing-md * 2) auto;
  }
}

@include device-xl {
  #site-header {
    width: $header-width-xl;
  }
  #header-nav {
    margin: -($spacing-lg) ($spacing-lg * 3) 0;
  }
}
