.svg-link {
  display: flex;
  justify-content: center;
  align-items: center;

  svg path {
    transition: fill $transition-duration;
  }

  &:after {
    display: none;
  }
  &:hover,
  &:focus {
    svg path {
      fill: $link-hover-color;
    }
  }
  &:active,
  &:active:hover {
    transform: scale(0.98);

    svg path {
      fill: $link-active-color;
    }
  }
}
.invert #container {
  .svg-link {
    svg path {
      fill: $light-primary-color;
    }
    &:hover,
    &:focus {
      svg path {
        fill: $link-hover-color-invert;
      }
    }
    &:active,
    &:active:hover {
      svg path {
        fill: $link-active-color-invert;
      }
    }
  }
}

.svg-link,
.svg-link--left {
  flex-direction: row;

  .svg-text {
    margin-left: $spacing-sm;
  }
}
.svg-link--right {
  flex-direction: row-reverse;

  .svg-text {
    margin-left: 0;
    margin-right: $spacing-sm;
  }
}

.svg-link--dribbble {
  &:hover,
  &:active,
  &:active:hover {
    svg path {
      fill: #EA4C89;
    }
  }
}
.svg-link--github {
  &:hover,
  &:active,
  &:active:hover {
    svg path {
      fill: #0366D6;
    }
  }
}
.svg-link--twitter {
  &:hover,
  &:active,
  &:active:hover {
    svg path {
      fill: #1DA1F2;
    }
  }
}

.svg-icon {
  height: $font-size-sm;
  width: $font-size-sm;
}
.svg-icon--sm {
  height: $font-size-sm;
  width: $font-size-sm;
}
.svg-icon--md {
  height: $font-size-md;
  width: $font-size-md;
}
.svg-icon--lg {
  height: $font-size-lg;
  width: $font-size-lg;
}
.svg-icon--autoSize {
  height: auto;
  width: 100%;
}
