#welcome {
  font-family: $title-text;
  font-size: 3rem;
  margin-bottom: $spacing-xl;
  padding: $spacing-xl 0;

  p {
    line-height: 125%;
  }
  a {
    &:after {
      height: 0.08em;
      transform: translateY(-0.08em);
    }
    &:hover:after {
      transform: translateY(0.08em);
    }
    &:active,
    &:active:hover {
      &:after {
        transform: translateY(0);
      }
    }
  }
}
@include device-md {
  #welcome {
    font-size: 4rem;
    padding: ($spacing-lg * 5) 0;
  }
}
@include device-lg {
  #welcome {
    font-size: 5rem;
    padding: ($spacing-lg * 5) 0;
  }
}
@include device-xl {
  #welcome {
    font-size: 5rem;
    padding: ($spacing-lg * 5) 0;
  }
}
